html {
  background: var(--clv-color-bg);
  color: var(--clv-color-text);
  font-family: var(--clv-font-sans);
}

body {
  margin: 0;
}

.docs-story,
.sb-show-main {
  color: var(--clv-color-text);
}
